.pointer{
  cursor: pointer;
}

.text-center{
  text-align: center!important;
}

.text-right{
  text-align: right!important;
}

.text-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.del-underline{
  text-decoration:none;
}

.metamask-menu-border {
  border: 1px solid #666666 !important;
}

.pt-70 {
  padding-top: 4.375rem !important;
}

.pb-70{
  padding-bottom: 4.5rem !important;
}

.mt-70 {
  margin-top: 4.375rem !important;
}
.mt-n70 {
  margin-top: -4.375rem !important;
}
.pt-100 {
  padding-top: 6.25rem !important;
}
.pb-100 {
  padding-bottom: 6.25rem !important;
}
.pl-100 {
  padding-left: 6.25rem !important;
}
.pr-100 {
  padding-right: 6.25rem !important;
}
.mb-100{
  margin-bottom: 6.25rem !important;
}
.pt-150 {
  padding-top: 9.375rem !important;
}

.pb-150 {
  padding-bottom: 9.375rem !important;
}

.pt-160 {
  padding-top: 9.688rem !important;
}

.pb-160 {
  padding-bottom: 10rem !important;
}

.pb-170 {
  padding-bottom: 10.625rem !important;
}

.pt-170 {
  padding-top: 10.625rem !important;
}

.pt-180 {
  padding-top: 11.25rem !important;
}

.pt-250 {
  padding-top: 15.625rem !important;
}

.pb-250 {
  padding-bottom: 15.625rem !important;
}

.mt-120 {
  margin-top: 6.25rem !important;
}
.pl-120{
  padding-left:120px!important
}
.pl-150{
  padding-left:150px!important
}
.pr-120{
  padding-right:120px!important
}
.pr-150{
  padding-right:150px!important
}

.mb-120 {
  margin-bottom: 6.25rem !important;
}

.mt-150 {
  margin-top: 9.375rem !important;
}

.px-18 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.pl-18 {
  padding-left: 4rem !important;
}

.pr-18 {
  padding-right: 7.2rem !important;
}

.pr-17 {
  padding-right: 6.5rem !important;
}